.details-container {
    padding-left: 25px;
}
.image-size {
    display: block;
    max-width: 330px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.property-title {
    font-weight: bold;
    padding-top: 10px;
    padding-left: 18px;
    padding-bottom: 10px;
}
.property-value {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-style {
    color: #fff !important;
}
.rating-style {
    color: gold;
}
.title-container {
    width: 400px;
    height: 55px;
    background-color: #000;
    border-radius: 25px;
    text-align: center;
    display: table;
    color: cornflowerblue;
    margin-bottom: 15px;
}
.title-style {
    display: table-cell;
    vertical-align: middle;
    color: cyan;
}
.spacer {
    padding-top: 40px;
}