<div class="row">
    <div class="col-sm-12 details-container">
      <div *ngIf="hero">
        <div class="row">
          <div class="col-sm-12">
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="title-container">
                                <h2 class="title-style">{{hero.name}}</h2>
                            </div>                                
                            <div class="row">
                              <div class="col-sm-3 property-title">
                                Height:
                              </div>
                              <div class="col-sm-9 property-value">
                                {{ hero.stats.personalStats.height }}
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-3 property-title">
                                Weight:
                              </div>
                              <div class="col-sm-9 property-value">
                                  {{ hero.stats.personalStats.weight }}
                              </div>
                            </div>                          
                            <div class="row">
                              <div class="col-sm-3 property-title">
                                Chest:
                              </div>
                              <div class="col-sm-9 property-value">
                                  {{ hero.stats.personalStats.chest }}
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-3 property-title">
                                Arms:
                              </div>
                              <div class="col-sm-9 property-value">
                                  {{ hero.stats.personalStats.chest }}
                              </div>
                            </div>                          
                            <div class="row">
                              <div class="col-sm-3 property-title">
                                Waist:
                              </div>
                              <div class="col-sm-9 property-value">
                                {{ hero.stats.personalStats.waist }}
                              </div>
                            </div>                            
                            <div class="row">
                              <div class="col-sm-3 property-title">
                                Thighs:
                              </div>
                              <div class="col-sm-9 property-value">
                                {{ hero.stats.personalStats.thighs }}
                              </div>
                            </div>                             
                        </div>
                        <div class="col-sm-3">
                            <div *ngIf="hero">
                              <div class="hero-card" style="width: 18rem;">
                                <img class="card-img-top image-size" src="./../../assets/{{hero.icon | lowercase}}.png" alt="Card image cap">              
                              </div>
                            </div>
                          </div>                      
                      </div>
                      <div class="row spacer">
                        <div class="col-sm-12">
                            <p class="lead">
                              <a (click)="goBack()" class="btn btn-primary btn-lg btn-style" role="button">Go back</a>
                            </p>
                        </div>
                      </div>
                </div>                                        
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>