<div class="row">
  <div class="col-sm-12">
    <div class="section">
      <div class="section-header">
        <div class="row">
          <div class="col-sm-12" appHeadingTitle>
            {{title}}
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="hero-card-container">
            <div *ngFor="let hero of heroes" [class.hero-card-selected]="isSelected(hero)" routerLink="/heroes/{{hero.id}}/dashboard" class="hero-card" style="width: 18rem;">
              <img class="card-img-top image-size" src="./../../assets/{{hero.icon | lowercase}}.png" alt="Card image cap">
              <div class="card-body">
                <hr>
                <div class="row">
                  <div class="col-sm-12 text-center hero-card-title">
                      {{hero.name}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-7">
                      Rating:
                  </div>
                  <div class="col-sm-5">
                      <span *ngFor="let num of [].constructor(hero.rating)">
                        <i class="fas fa-star rating-style"></i>
                      </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>    
  </div>
</div>
