<div class="input-group mb-3">
  <div class="row">
    <div class="col-sm-12">
      <input #searchBox id="search-box" (keyup)="search(searchBox.value)" class="form-control" placeholder="Search text" aria-label="Search text">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="list-group">
        <a routerLink="/heroes/{{hero.id}}/heroes" class="list-group-item" *ngFor="let hero of heroes$ | async">
          {{hero.name}}
        </a>
      </div>
    </div>
  </div>    
</div>