<div class="row">
  <div class="col-sm-12">
    <div class="title-container">
      <h2 class="title-style">{{hero.name}}</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 details-container">
    <div class="row">
      <div class="col-sm-9">
        <div class="chart-style">
          <div [hidden]="!lineChart" class="chart-container">
            <canvas id="lineCanvas">
              {{ lineChart }}
            </canvas>
          </div>        
        </div>
      </div>
      <div class="col-sm-3">
        <div *ngIf="hero">
          <div class="hero-card" style="width: 18rem;">
            <img class="card-img-top image-size" src="./../../assets/{{hero.icon | lowercase}}.png" alt="Card image cap">              
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="chart-style">
          <div [hidden]="!pieChart" class="chart-container">
            <canvas id="pieCanvas">
              {{ pieChart }}
            </canvas>
          </div>        
        </div>        
      </div>
    </div>
    <div class="row spacer">
      <div class="col-sm-12">
          <p class="lead">
            <a (click)="goBack()" class="btn btn-primary btn-lg btn-style" role="button">Go back</a>
          </p>
      </div>
    </div>
  </div>
</div>
  

