<div class="row">
  <div class="col-sm-12">
    <div class="section">
      <div class="section-header">
        <div class="row">
          <div class="col-sm-12 section-title">
            {{title}}
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="row">
          <div class="col-sm-12">
            <!-- <div *ngIf="barChart">
              <canvas id="canvas">{{ barChart }}</canvas>
            </div> -->
            <div class="chart-style">
              <div [hidden]="!barChart" class="chart-container">
                <canvas id="barCanvas">
                  {{ barChart }}
                </canvas>
              </div>        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>